<% content_for :title do %>Clan Registration<% end %>
<% crumbs 'Register clan' => new_clan_path %>
<div class="small-zone">
<h1>New clan</h1>
<% border do %>
<% form_for(@clan) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :tag %><br />
    <%= f.text_field :tag %>
  </p>
  <p>
    <%= f.submit 'Create' %>
    <%= link_to 'Back', clans_path %>
  </p>
<% end %>

<% end %>
</div>
