<% crumbs "Show Clan information: #{@clan.name}" => clan_path(@clan) %>
<% content_for(:title, 'Clan information') %>
<p>
  <%= image_tag @clan.image_filename if @clan.image_filename %>
</p>
<p>
  <b>Name:</b>
  <%=h @clan.name %> [<%=h @clan.tag %>]
</p>
<p>
  <b>Territories:</b>
  <ul>
  <% @clan.territories.each do |t| %>
    <li><%=h t.name  %></li>
  <% end %>
  </ul>

</p>
<p>
  <b>Members:</b>
  <ul>
  <% @clan.users.each do |u| %>
    <li><%= link_to u.login, user_path(u) %></li>
  <% end %>
  </ul>

</p>

<%= link_to 'Edit', edit_clan_path(@clan) %> |
<%= link_to 'Back', clans_path %>