<% content_for :title, 'Clan Registration' %>
<% content_for :head do %>
  <%= javascript_include_tag 'colourPicker.js'  %>
  <script type="text/javascript">
  Event.observe(window, 'load', function() {
    var picker = new ColourPicker('clan_color', 'clan_color');
  });
  </script>
  <style type="text/css">
  table.colorPicker
  {
      position: absolute;
      background-color: #FFFFFF;
      border: solid 1px #000000;
  }
  table.colorPicker td
  {
      width: 15px;
      height: 15px;
      border: solid 1px #000000;
  }
  </style>
<% end %>
<% crumbs 'Register clan' => new_clan_path %>
<div class="small-zone">
<h1>New clan</h1>
<% border 'border3' do %>
<% form_for(@clan) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :tag %><br />
    <%= f.text_field :tag %>
  </p>
  <p>
    <%= f.label :color %><br />
    <%= f.text_field :color, :style => "background-color:#{@clan.color || 'white'}" %>
  </p>
  <p>
    <%= f.submit 'Create' %>
    <%= link_to 'Back', clans_path %>
  </p>
<% end %>

<% end %>
</div>
