<div id="frame-container"
     style="height:<%= viewport_size[1] -%>px; width:<%= viewport_size[0] -%>px;">
  <script type="text/javascript">
    function onLoadIframe(scrollx, scrolly){
      $('frame-container').scrollTop=scrolly;
      $('frame-container').scrollLeft=scrollx;
      if(!loc) {
        loc=$('admin-frame').contentWindow.location;
        checkIframeRedirected();
      }
    }
  </script>
  <iframe frameborder="0"
          id="admin-frame"
          src="<%= url -%>"
          width="<%= frame_size[0] -%>"
          height="<%= frame_size[1] -%>"
          scrolling="no"
          onload="onLoadIframe(<%= "#{offset[0]}, #{offset[1]}" -%>);<%= extra_onload rescue '' -%>" ></iframe>
</div>
