<% content_for :title , 'Wellcome' %>
<% crumbs %>


<% border 'border3' do %>
  <div id="map-container" >
    <% border 'border4' do %>
      <%= generate_imagemap_for @territories %>
      <img alt="Territories Map" usemap="#map" border="0"
           src="<%= url_for :action => 'show', :controller => 'territories' %>.png" />
    <% end %>
    <%= link_to image_tag('cc_panel_bottom.png', :id => 'map-bottom'), edit_territories_path %>
  </div>
  <div id="news-container">
    <%= link_to('New', {:controller => :news, :action => :new},
                  :popup => ['name="news', 'width=520,height=400,top=150,' +
                                           'left=350,location=0,toolbar=0,status=0']) if current_user.admin? %>
    <% @news.each do |new| %>
      <%= render :partial => 'news/show', :locals => {:new => new} %>
    <% end %>
  </div>
<% end %>