<% content_for :title do %>Login<% end %>
<% crumbs 'login' => new_session_path %>
<p>Wellcome back to <%= link_to "War For Newerth", :root %>.</p>
<div class="error"><%= flash[:error] %></div>
<div class="small-zone">
<h4>Login</h4 >
  <% border 'border3' do %>
    <% form_tag session_path do -%>
    <p><%= label_tag 'login' %><br />
    <%= text_field_tag 'login', @login %></p>

    <p><%= label_tag 'password' %><br/>
    <%= password_field_tag 'password', nil %></p>

    <!-- Uncomment this if you want this functionality
    -->
    <p><%= label_tag 'remember_me', 'Remember me' %>
    <%= check_box_tag 'remember_me', '1', @remember_me %></p>

      <p><%= submit_tag 'Log in' %> <%= link_to "Back", :back %></p>
    <% end -%>
  <% end %>
</div>
