<% remote_form_for :territory, territory,
                   :url => {:controller => :territories, :action => :update, :id => territory},
                   :html => { :method => :put, :class => "edit_territory"} do |f| %>
  <div style="float:right;">
    <div>
      <span class="labeled-field">
        <%= f.label :clan_id, 'Belongs to'  %>
        <%= f.select :clan_id, Clan.find(:all).collect {|c| [c.name, c.id]}, :include_blank => true %>
      </span>
      <br/>
      <%= f.submit 'Save', :onclick => "updatePaths(territories)" %>
    </div>
  </div>
  <div>
    <span class="labeled-field" >
      <%= f.label :name  %>
      <%= f.text_field :name, :value => territory.name || "New territory ##{territory.id}" %>
    </span>
    <br/>
    <span class="labeled-field" >
      <%= f.label :map_name  %>
      <%= f.text_field :map_name %>
    </span>
  </div>

  <%= f.hidden_field(:position_x) %>
  <%= f.hidden_field(:position_y) %>
  <span id="territory_shapes"><%= f.hidden_field(:shape) %></span>
<% end %>
