<% crumbs 'Edit territories' => edit_territory_path %>
<% content_for(:title, 'Edit territories') %>
<% content_for(:head, javascript_include_tag('delaunay.js')) %>
<% content_for(:head, javascript_include_tag('voronoi.js')) %>
<% content_for(:head, javascript_include_tag('mapEditor.js')) %>
<% content_for(:head) do %>
  <script type="text/javascript">
    var territories = [];
    var current_territory = false;
    var dragging=false;
    <%  @territories.each do |t| -%>
      <%if(t.position_x and t.position_y) -%>
        territories[<%= t.id %>] = new Vertex(<%= "#{t.position_x}, #{t.position_y}" %>);
      <% end -%>
    <% end -%>

    function click(e){
      var cx = (e.clientX - e.currentTarget.offsetLeft + pageXOffset);
      var cy = (e.clientY - e.currentTarget.offsetTop + pageYOffset);

      if(current_territory && dragging) {
        territories[current_territory] = new Vertex(cx, cy);
      }
      renderTerritories( $('canvas'), territories );
    }

    function down(e){ dragging=true; }
    function up(e){ dragging=false; }

    Event.observe(window, 'load', function() {
      Event.observe($('canvas'), 'mousedown', down);
      Event.observe($('canvas'), 'mouseup', up);
      Event.observe($('canvas'), 'click', click);
      Event.observe($('canvas'), 'mousemove', click);
      renderTerritories($('canvas'), territories );
    });

  </script>
<% end %>

<div id="territories-toos">
  <% border 'border3' do %>
      <div id="tools-form-container">
        <p>Select a territory from the list to edit it, or create a new one.</p>
      </div>
  <% end %>
</div>
<div id="map-container" >
  <% border 'border4' do %>
    <canvas id="canvas" width="400" height="250" ></canvas>
  <% end %>
  <%= image_tag 'cc_panel_bottom.png', :id => 'map-bottom'%>
</div>
<div id="territories-edit-list" style="width:550px">
  <% border 'border3' do %>
    <div style="text-align:right;">
      <%= link_to_remote 'New territory',
                         :url => {:controller => :territories, :action => :create},
                         :update => {:success => 'territories-list'}%>
    </div>
    <div id="territories-list">
      <%= render :partial => 'list', :locals => {:territories => @territories} %>
    </div>
  <% end %>
</div>

<%= link_to 'Back', territory_path %>